<div class="row">
    <div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-search"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Filter" aria-label="Username"
                (keyup)="onTextInput($event)"
            aria-describedby="basic-addon1">
        </div>
    </div>
</div>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of listItems">
            <a [routerLink]="['/details', item.id]">{{ item.name }}</a>
        </li>
    </ul>
</div>